



<p id="about" class="about">About Me</p>
<p class="front">{{possition}}</p>
<div class="developer">
<img src="../../assets/images/dp.png" alt="Frontend Devoloper">
</div>
<p>Hello there! I'm [ {{name | uppercase}} ], a <br>
     passionate and dedicated Frontend <br>
     Developer eager to embark on an <br>
      exciting journey in the world of web 
      <br> development.<br><br>

As a recent graduate with a degree in <br> 
[ {{degree}} ], I have honed my skills in <br> {{skills}} <br> 
GitHub and I'm enthusiastic about <br>
 crafting user-friendly and visually <br> 
 appealing websites.</p>