<p id="skills" class="skills">Skills</p>
 <p>Skill set includes: HTML5, CSS3, JavaScript, Angular 2.0, Git, and <br> Responsive Design.</p>
 <p>my skills in HTML, CSS, JavaScript, and Angular 2.0, GitHub and I'm <br> enthusiastic about crafting user-friendly and visually appealing websites.</p>
 <p>I am thrilled about the prospect of bringing my skills and energy to a dynamic <br> team. Let's connect and discuss how I can contribute to your exciting projects!</p>

 <div class="image">
    <span class="html">
        <img src="../../assets/images/html.webp" alt="HTML">
    <h3>HTML</h3>
    </span>
    <span>
        <img src="../../assets/images/css.png" alt="CSS">
    <h3>CSS</h3>
    </span>
    <span>
        <img src="../../assets/images/js2.png" alt="JAVA SCRIPT">
    <h3>JavaScript</h3>
    </span>
    <span>
        <img src="../../assets/images/angular.jpeg" alt="ANGULAR 2.0">
        <h3>ANGULAR 2.0</h3>
    </span>
    <span>
        <img src="../../assets/images/guthub.jpg" alt="GitHub">
    <h3>GitHub</h3>
    </span>
 </div>