<main>
<section>

<div id="home">
    <img id="photo"  src="../../assets/images/gopi.jpg" alt="photo">
</div>
<div class="div1"><br>
<h2>Hello,it's Me</h2>

<br><br>
<h1>Gopinath</h1>
<br><br>

<p>And I'm a <span>Frontend  Developer</span><br>
A Front-End Developer is  a <br> professional  responsible  for <br> creating the visual  elements <br> of  a website.
expertise is to <br> website, Frontend  Angular Developer.</p>
</div><br>

</section><br>
<button><span class="Download">Download CV</span></button>
<div class="media">
    <a href="https://github.com/">
        <img src="../../assets/images/guthub.jpg" alt="guthub"></a>
    <a href="https://www.facebook.com/">
        <img src="../../assets/images/facebook image.png" 
        alt="facebook"></a>
    <a href="https://www.instagram.com/">
        <img src="../../assets/images/instagram image.jpg" alt="instagram"></a>
    <a href="https://mail.google.com/">
        <img src="../../assets/images/mail image.png" alt="mail"></a>
</div>

</main>

