section{
  background-color:black;
  height: 400px;
  width: 100%;
  text-align: center;
  display: flex;
 
}
main{
    color: #fff;
    background-color:black;
    margin: 0;
  padding: 0;
  font-family: "poppins",sans-serif;
  box-sizing: border-box;
  
}


span{
    color: rgb(243, 7, 7);
}
#photo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
     margin: 70px 40px 0px 40px;
     box-shadow: 0px 0px 4px 6px;
     color: rgb(57, 250, 250);
}
h1,p,h2,div{
    display: inline-block;
    float: left;
    font-size: 24px;
    
}
.div1{
    display: inline;
    width: 400px;
    height: 0px;   
}
p{
    text-align: center;
    margin: 0px 0px;
}
h1{
    padding: 5px 12px;
    margin: 2px 25px;
    line-height: 35px;
}
h2{
    height: 27px;
    width: 150px;
    padding: 5px 12px;
    margin: 9px 13px;
}
#home{
    padding: 5px 12px;   
    margin: 0px 0px;
    height: 280px;
    width: 254px;
}
#home:hover{
    transform: scale(1.1);
}
aside{
    font-size: 24px;
    text-align: center;
}

.media,img{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-top: -88px;
    padding: 0;
    // box-sizing: border-box;
    align-items: center;
    position: relative;
    

}
div.media {
    display: flex;
     border-radius: 40%;
    margin-top: -95px;
    width: 520px;
     height: 40px;
    float: right;
    
    img{
        margin-right: 20px;
        color: rgb(47, 179, 255);
        box-shadow: 0px 0px 3px 5px;
        
    }
    
}
img:hover{
    background-color: rgb(4, 137, 247);
    border-radius:  20%;
}
.resume{
     display: flex;
}
button{
    text-decoration: none;
    text-align: center;
    width: 80px;
     height: 40px;
     margin-left: 450px;
     background-color: aqua;
     border-radius: 100px;
     color: rgb(255, 47, 134);
     box-shadow: 0px 0px 4px 5px;
}
button:hover{
    color: rgb(255, 47, 134);
    border-radius: 50%;
}
.Download{
    color:blue;
}
@media only screen and (min-width: 290px) and (max-width: 500px) {

}
// a:hover{
//      color: rgb(255, 47, 175);
//      cursor: pointer;


// @media (min-width:375px) and (max-width:667px) {
//   .section{
//     font-size: 50px;
//   }
// }
// // @media (min-width:414px) and (max-width:896px) {
 
// }


