<footer>
<nav class="footer">
<ul class="nav">
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Skills</a></li>
</ul>
<p>CONTACT ME</p>
</nav><br>
<div class="contact">
    <a href="https://github.com/">
        <img src="../../assets/images/guthub.jpg" alt="guthub"></a>
    <a href="https://www.facebook.com/">
        <img src="../../assets/images/facebook image.png" 
        alt="facebook"></a>
    <a href="https://www.instagram.com/">
        <img src="../../assets/images/instagram image.jpg" alt="instagram"></a>
    <a href="https://mail.google.com/">
        <img src="../../assets/images/mail image.png" alt="mail"></a>
</div>
</footer>